
<%- include partials/header.ejs %>



<form id="initialConnection">
	<p>input you nickname</p>
	<input type="text" id="name" placeholder="name">
	<button id="setNick">register</button>
</form>




	
<div class="container" id="chat">
		

	<aside class="scrollbar-style-1">

		<!-- Search Box -->
		<div class="search ">
			<i class="fa fa-search" aria-hidden="true"></i>
			<input type="text" placeholder="search">
		</div>



		<div class="online-users">
		
			<div class="user active-user active-conversation">
				<!-- <img class="img" src="imgs/3.jpg">				 -->
				
				<div class="content">

					<div class="name-date-block">
						<p class="name">Sophia William</p>
						<span class="date">2:49 pm</span>						
					</div>

					<!-- <p class="msg-excerpt">sit amet, consectetur adipisicing</p>								 -->
				</div>
			</div>	

		</div><!-- end .omline-users -->

	</aside>







	<!-- ============================================================================ -->

	<section class="chat-box ">

		<div class="chat-head  chat-box-container">
			<h3 class="title">Sophia William</h3>
			
			<div class="chat-icons"></div>
		</div>


		<ul class="allmsgs  chat-box-container"></ul>


		<div class="chat-footer">
			<i class="fa fa-paperclip fa-lg emoticons" aria-hidden="true"></i>

			<!-- <textarea onkeydown="handleEnter(event)" class="msg-box" placeholder="type a message"></textarea> -->
			<textarea  class="msg-box" placeholder="type a message"></textarea>
	
			<i class="fa fa-smile-o fa-lg emoticons" aria-hidden="true"></i>
		</div>


	</section><!-- end .chat-box -->



</div>  <!-- end .container -->

	
<%- include partials/footer.ejs %>
