<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- bootstrap -->	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- custom css -->	<link rel="stylesheet" type="text/css" href="/css/styles.bundle.css">
</head>
<body>

<%- include partials/nav.ejs %>


<form id="initialConnection">
	<p>input you nickname</p>
	<input type="text" id="name" placeholder="name">
	<button id="setNick">register</button>
</form>


<div id="chat">
	
	<div class="row">
		
		<div class="col-xs-5 col-sm-2 onlineusers">
			<ul>
				<li>sample user</li>
				<li>sample user2</li>
			</ul>	
		</div> <!-- end .onlineusers -->
		


		<div class="col-xs-8 col-sm-4 chat-box">
			<ul class="allmsgs">
				<li><pre>sample msg</pre></li>
				<li><pre>sample msg2</pre></li>
				<li>
					<pre>sample mssssssssssssssss sssss ssssssssssssssssssssssssssg 1</pre>
				</li>
				<li>
					<pre>sample mssssssssssssssss sssss ssssssssssssssssssssssssssg 2</pre>
				</li>
				<li>
					<pre>sample mssssssssssssssss sssss ssssssssssssssssssssssssssg 3</pre>
				</li>
				<li>
					<pre>sample mssssssssssssssss sssss ssssssssssssssssssssssssssg 4</pre>
				</li>
				<li>
					<pre>sample mssssssssssssssss sssss ssssssssssssssssssssssssssg 5</pre>
				</li>
				<li>
					<pre>sample mssssssssssssssss sssss ssssssssssssssssssssssssssg 6</pre>
				</li>
				<li>
					<pre>sample mssssssssssssssss sssss ssssssssssssssssssssssssssg 7</pre>
				</li>
				<li>
					<pre>sample mssssssssssssssss sssss ssssssssssssssssssssssssssg 8</pre>
				</li>
				<li>
					<pre>sample mssssssssssssssss sssss ssssssssssssssssssssssssssg 9</pre>
				</li>
				<li>
					<pre>sample mssssssssssssssss sssss ssssssssssssssssssssssssssg 10</pre>
				</li>
			</ul>	

			<form>
				<textarea class="msg" "></textarea>

				<button id="send">send</button>
			</form>	
		</div>	<!-- end .chat-box -->



	</div>	<!-- end .row -->
</div> <!-- end chat -->
	





	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/bundle.js"></script>
</body>
</html>