<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- font Awsome --> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- google fonts --> <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

	<!-- normalize -->	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">	

	<!-- custom css -->	<link rel="stylesheet" type="text/css" href="/css/style.bundle.css">

</head>
<body>


<form id="initialConnection">
	<p>input you nickname</p>
	<input type="text" id="name" placeholder="name">
	<button id="setNick">register</button>
</form>




	
<div class="container" id="chat">
		

	<aside class="scrollbar-style-1">

		<!-- Search Box -->
		<div class="search ">
			<i class="fa fa-search" aria-hidden="true"></i>
			<input type="text" placeholder="search">
		</div>



		<div class="online-users">
		
			<div class="user active-user active-conversation">
				<img class="img" src="imgs/3.jpg">				
				
				<div class="content">

					<div class="name-date-block">
						<p class="name">Sophia William</p>
						<span class="date">2:49 pm</span>						
					</div>

					<p class="msg-excerpt">sit amet, consectetur adipisicing</p>								
				</div>
			</div>	

		</div><!-- end .omline-users -->

	</aside>







	<!-- ============================================================================ -->

	<section class="chat-box ">

		<div class="chat-head  chat-box-container">
			<h3 class="title">Sophia William</h3>
			
			<div class="chat-icons"></div>
		</div>


		<ul class="allmsgs  chat-box-container"></ul>


		<div class="chat-footer">
			<i class="fa fa-paperclip fa-lg emoticons" aria-hidden="true"></i>

			<!-- <textarea onkeydown="handleEnter(event)" class="msg-box" placeholder="type a message"></textarea> -->
			<textarea  class="msg-box" placeholder="type a message"></textarea>
	
			<i class="fa fa-smile-o fa-lg emoticons" aria-hidden="true"></i>
		</div>


	</section><!-- end .chat-box -->



</div>  <!-- end .container -->

	
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/bundle.js"></script>
</body>
</html>