
<%- include partials/header.ejs %>



<form id="initialConnection">
	<p>input you nickname</p>
	<input type="text" id="name" placeholder="name">
	<button id="setNick">register</button>
</form>




	
<div class="container" id="chat">
		

	<section class="chat-box">
		
		<div class="chat-head  chat-box-container">
			<h3 class="title">Sophia William</h3>
			
			<i class="fa fa-bars menu-icon emoticons" aria-hidden="true"></i>
		</div>


		<ul class="allmsgs  chat-box-container">
		</ul><!-- end .allmsgs -->


		<div class="chat-footer">
			<div>
				<i class="fa fa-paperclip fa-lg emoticons" aria-hidden="true"></i>

				<textarea class="msg-box" placeholder="type a message"></textarea>
		
				<i class="fa fa-smile-o fa-lg emoticons" aria-hidden="true"></i>
			</div>
		</div>


	</section><!-- end .chat-box -->


	<!-- ============================================================================ -->
	


	
	<aside class="scrollbar-style-1">
		

		<div class="search ">
			<i class="fa fa-search" aria-hidden="true"></i>
			<input type="text" placeholder="search">
		</div>

	
		<div class="online-users">
		
			<!-- <div class="user active-user active-conversation">
				 <img class="img" src="assets/imgs/3.jpg">				 				
				<div class="content">

					<div class="name-date-block">
						<p class="name">Sophia William</p>
						<span class="date">2:49 pm</span>						
					</div>

					<p class="msg-excerpt">sit amet, consectetur adipisicing</p>								
				</div>
			</div>	
 -->
		</div><!-- end .omline-users -->

	</aside>
	
		
		
		
		
		
		
		
</div>  <!-- end .container -->

	
<%- include partials/footer.ejs %>
