* {
  -webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: pink; }

a {
  text-decoration: none; }

.nav {
  background-color: #111; }
  .nav ul {
    list-style: none; }
    .nav ul li {
      padding: 10px;
      display: inline-block; }

#chat {
  display: none; }

.onlineusers {
  margin: 0;
  background: black;
  color: white;
  list-style: none;
  padding: 15px;
  height: 100%;
  position: fixed;
  top: 47px; }

.chat-box {
  margin-left: 41%;
  height: 70vh;
  position: fixed;
  bottom: 60px; }

.msg {
  width: 82%;
  vertical-align: top;
  outline: none;
    outline-white-space: pre-wrap;
    outline-word-wrap: break-word; }

#send {
  height: 47px; }

.allmsgs {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 15px 15px 5px 5px;
  margin: 0;
  list-style: none;
  height: 100%;
  background-color: #333; }
  .allmsgs li {
    padding: 5px 0 5px; }
    .allmsgs li pre {
      white-space: pre-wrap;
      word-wrap: break-word; }

.col-xs-3 {
  padding: 0; }
